# Ignorar pastas do Eclipse
.settings/
.project
.classpath

# Ignorar binários e arquivos compilados
bin/
*.class

# Ignorar logs
*.log
*.tmp

# Ignorar Node.js
node_modules/

# Ignorar Python
__pycache__/

# Ignorar arquivos de build
dist/
target/
build/

# Ignorar arquivos sensíveis
.env

# Configurações locais
*.iml
.idea/
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db