# Ignorar pastas do Eclipse
.settings/
.project
.classpath

# Ignorar binários e arquivos compilados
bin/
*.class

# Ignorar logs
*.log

# Ignorar Node.js
node_modules/

# Ignorar Python
__pycache__/

# Ignorar arquivos de build
dist/
target/

# Ignorar arquivos sensíveis
.env
